<div class="container">
  <h1>Ideabox!</h1> <br>

  <div class="flash">
    <h5>Please complete all fields!</h5>
  </div>

  <div id="edit-idea"></div>

  <div class="new-idea"></div>

  <div class="ideas"></div>

</div>
