<div class="container">
  <h1>Ideabox!</h1> <br>

  <div class="flash">
    <h5>Please complete all fields!</h5>
  </div>

  <div id="search-field">
    <form>
      <h5>Search Ideas</h5><br>
      <input type='text' id='filter' name='filter-input'>
    </form> <br>
  </div>

  <div class="new-idea">
    <h5> Enter a New Idea</h5> <br>
    <form>
      Title<br>
      <input type='text' id='title' name='title-box'><br>
      Body<br>
      <input type='text' id='body' name='body-box'>
      <button class='save-idea btn cyan accent-4'>Save</button>
    </form> <br>
  </div>

  <div class="ideas"></div>

</div>
